torch==2.10.0
transformers==5.0.0
accelerate==1.13.0
huggingface_hub==1.10.1
onnxruntime-gpu==1.23.2; sys_platform != 'darwin'
sentencepiece==0.2.1
tqdm==4.67.3
seqeval==1.2.2
tensorboard==2.19.0
wrapt==2.1.2
